{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base{% endblock %}</title>

    <!-- css link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/placeholder.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'images/placeholder.png' %}" />
</head>
<body>

    <div class="background-overlay hidden"></div>

    <header class="nav">
        <nav class="nav-container">
            <div class="nav-left-container">

                <a href="{% url 'home' %}" class="nav-logo-container">
                    <img src="{% static 'images/placeholder.png' %}" alt="logo" class="nav-logo">
                </a>

                {% if user.is_authenticated %}
                <div class="nav-username-container">
                    <img src="{% static 'images/profile_icon.png' %}" class="nav-icon-img profile-logged">
                    <p class="nav-username">{{ user.username }}</p>
                </div>
                {% endif %}

            </div>
            <div class="nav-right-container">

                {% if not user.is_authenticated %}
                <a href="{% url 'account_login' %}" class="nav-button">
                    <img src="{% static 'images/profile_icon.png' %}" class="nav-icon-img">
                </a>
                {% else %}
                    {% if user.userstatus.has_purchased %}
                    <a href="{% url 'dashboard' %}" class="nav-button">
                        <img src="{% static 'images/edit_resume_icon.png' %}" class="nav-icon-img">
                    </a>
                    {% endif %}
                {% endif %}

                <a href="{% url 'view_templates' %}" class="nav-button">
                    <img src="{% static 'images/search_icon.png' %}" class="nav-icon-img">
                </a>

                <div class="nav-button extend-nav-button">
                    <img src="{% static 'images/menu_burger_icon.png' %}" class="nav-icon-img">
                </div>

            </div>  
        </nav>

        <div class="side-menu-container">

            <div class="close-side-menu-button">
                <img src="{% static 'images/cross_icon.png' %}" alt="close icon" class="nav-icon-img">
            </div>

            <div class="side-section-container">
                <h3>Account</h3>
                {% if not user.is_authenticated%}
                <a href="{% url 'account_login' %}" class="side-sub-container">
                    <img src="{% static 'images/profile_icon.png' %}" class="nav-icon-img">
                    <p>Login / Register</p>
                </a>
                {% else %}
                {% if user.userstatus.has_purchased %}
                    <a href="{% url 'dashboard' %}" class="side-sub-container side-dashboard">
                        <img src="{% static 'images/edit_resume_icon.png' %}" class="nav-icon-img">
                        <p>Dashboard</p>
                    </a>
                {% endif %}

                {% if not user.emailaddress_set.first.verified %}
                <a href="{% url 'account_email_verification_sent' %}" class="side-sub-container side-verify">
                    <img src="{% static 'images/verify_icon.png' %}" class="nav-icon-img">
                    <p>Verify Email</p>
                </a>
                {% endif %}

                <a href="{% url 'orders' %}" class="side-sub-container">
                    <img src="{% static 'images/orders_icon.png' %}" class="nav-icon-img">
                    <p>Orders</p>
                </a>

                <a href="{% url 'logout' %}" class="side-sub-container side-logout">
                    <img src="{% static 'images/profile_icon.png' %}" class="nav-icon-img">
                    <p>Logout</p>
                </a>
                
                {% endif %}

            </div>
            <div class="side-section-container">
                <h3>View</h3>
                <a href="{% url 'view_templates' %}" class="side-sub-container">
                    <img src="{% static 'images/search_icon.png' %}" class="nav-icon-img">
                    <p>Templates</p>
                </a>
            </div>

        </div>
    </header>

    <main>
    {% block content %}{% endblock %}
    </main>


<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/custom.js' %}"></script>
    
</body>
</html>