{% extends 'base.html' %} 
{% load static %}
{% block title %}Cancelled{% endblock %}

{% block content %}


<div class="view-templates-container checkout-cancel-container">

    <h1>PAYMENT CANCELLED</h1>
    <div class="template-container">
        <div class="template-img-container">
            {% if "Dragon" in template.name %}
            <img src="{% static 'images/resume_dragon.png' %}" alt="template image" class="template-img">
            {% elif "Pearl" in template.name %}
            <img src="{% static 'images/resume_pearl.png' %}" alt="template image" class="template-img">
            {% elif "Midas" in template.name %}
            <img src="{% static 'images/resume_midas.png' %}" alt="template image" class="template-img">
            {% elif "Modern" in template.name %}
            <img src="{% static 'images/resume_modern.png' %}" alt="template image" class="template-img">
            {% elif "Elegant" in template.name %}
            <img src="{% static 'images/resume_elegant.png' %}" alt="template image" class="template-img">
            {% else %}
            <img src="{% static 'images/hero_img.png' %}" alt="template image" class="template-img">
            {% endif %}
        </div>
        <div class="template-content-container">
            <h3>{{ template.name }}</h3>
            <a href="{% url 'buy_template' template.id %}" class="buy-button" >Checkout Again | £{{template.price}}</a>
            <a class="template-owned-container go-back" href="{% url 'view_templates'%}">
                <img src="{% static 'images/back_icon.png' %}" alt="checkmark" class="nav-icon-img">
                <p>Back to Templates</p>
            </a>
        </div>
    </div>
</div>


    

{% endblock %}
