{% extends 'base.html' %}
{% block title %}Create a Resume{% endblock %}

{% block content %}
<div class="create-resume-container">
  <h2>Choose a template to start</h2>
  <div class="template-list">
    {% for template in templates %}
      <div class="template-card">
        <h3>{{ template.name }}</h3>
        <p>{{ template.description }}</p>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="template_id" value="{{ template.id }}">
          <button type="submit" name="create_resume">Use this Template</button>
        </form>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
