{% extends 'base.html' %} 
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="dashboard-container">

    <div class="resume-content-container">
        <h2>{{resume_data.user}}'s Resume</h2>
        <form class="resume-form">

            <div class="resume-form-header">
                <div class="resume-form-header-row">
                    <div class="resume-form-header-col">
                        <label for="job_title">Job Title</label>
                        <input type="text" name="job_title" value="{{ resume_data.job_title }}">
                    </div>
                    <div class="resume-form-header-col">
                        <label for="fname">First Name</label>
                        <input type="text" name="fname" value="{{ resume_data.first_name }}">
                    </div>
                </div>

                <div class="resume-form-header-row">
                    <div class="resume-form-header-col">
                        <label for="lname">Last Name</label>
                        <input type="text" name="lname" value="{{ resume_data.last_name }}">
                    </div>
                    <div class="resume-form-header-col">
                        <label for="email">Email</label>
                        <input type="text" name="email" value="{{ resume_data.email }}">
                    </div>
                </div>

                <div class="resume-form-header-row">
                    <div class="resume-form-header-col">
                        <label for="phone">Phone Number</label>
                        <input type="text" name="phone" value="{{ resume_data.phone_number }}">
                    </div>
                    <div class="resume-form-header-col">
                        <label for="city">City</label>
                        <input type="text" name="city" value="{{ resume_data.city }}">
                    </div>
                </div>

            </div>

            <div class="resume-form-summary">
                <label for="summary">Summary</label>
                <input type="text" name="summary" value="{{ resume_data.summary }}">
            </div>

        
            {% if sections_data%}
                {% for section in sections_data%}
                <div class="resume-section-container">
                    <h4>-----{{section.name}}</h4>
                        {% if section.sub.all %}
                            {% for sub in section.sub.all %}
                            <h5>{{sub.title}} - {{sub.order}}</h5>
                            <p>{{sub.description}}</p>
                            {% endfor %}
                        {% else%}
                        <p>no subs</p>
                        {% endif %}
                </div>
                {% endfor%}
            {% else %}
            <p>No sections yet</p>
            {% endif %}
         




        </form>
    </div>
    <div class="resume-preview-container">
        <div class="resume-preview-page">
       
        </div>
    </div>

</div>










{% endblock %}