{% extends 'base.html' %} 


{% block content %}
<h1>Home</h1>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <a href="{% url 'logout' %}">Logout</a>

    {% if not user.emailaddress_set.first.verified %}
    <p>Your email is not verified. Please verify your email to access all features.</p>
    <a href="{% url 'account_email_verification_sent' %}">Verify Email</a>
    {% else %}
    <p>Your email is verified. Enjoy your experience!</p>
    {% endif %}

    {% if db_access %}
    <a href="{% url 'dashboard' %}">Db access</a>
    {% else %}
    <p>Db access is disabled.</p>
    {% endif %}

{% else %}
    <p>Welcome! Please <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">register</a>.</p>
{% endif %}

{% endblock %}