/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* wildcard selectoe to reset all browser default style rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variables to define accent colours */
:root {
    --primary: #10a37f;
    --secondary: yellow;
}

html {
    font-size: 16px;
    /* Sets the base font size to 16px */
}

body {
    font-family: "Nunito";
    max-width: 100vw;
    background-color: #f5f5f5;
}

.hidden {
    display: none !important;
}

.background-overlay{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .6;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.resume-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 2em;
    overflow-y: scroll;
    gap: 3em;
}


.resume-form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.resume-form-header{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.resume-form-header-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1em;
}

.resume-form-header-col{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="text"]{
    width: 100%;
    height: 3em;
    background-color: #E9E9E9;
    border-radius: 3px;
    padding: .5em 1em;
    border: none;

}

.resume-form-summary{
    display: flex;
    flex-direction: column;
}

.resume-section-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}


.section-header-closed, .section-header-open{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.section-header-open{
    display: none;
}

.section-header-delete-button, .section-header-open-button, .section-header-close-button{
    padding: 5px 10px;
    background-color: #F5F5F5;
    border-radius: 3px;
    cursor: pointer;
}

.section-header-open-button{
    color: orange;
}

.section-header-delete-button, .section-header-close-button{
    color: red;
}


.subsection-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.subsection-content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    background-color: #FCFCFC;
    padding: 1em;
    border-radius: 4px;
}

.subsection-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.subsection-open-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    display: none;
}

.add-sub-container,
.add-section-container{
    width: 100%;
    height: 2em;

}

.add-sub-button,
.add-section-button{
    width: 100%;
    height: 100%;
    text-align: left;
    padding: .5em 3em;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: white;
}

.add-sub-button:hover,
.add-section-button:hover{
    background-color: #10a37f;
    transition: all;
    transition-duration: .3s;
}


.subsection-delete, .subsection-swap{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
}

.subsection-delete{
    background-color: red;
}

.subsection-swap{
    background-color: orange;
}

.pop-up-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 90%;
    max-width: 400px;
    height: 250px;
    padding: 1em;
    cursor: default;
    z-index: 11;
}


.pop-up-container > p{
    text-align: center;
}

.popup-buttons-options-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.popup-cancel-button-container{
    text-align: center;
    padding: 5px 8px;
    cursor: pointer;
    background-color: #10a37f;
    border-radius: 3px;
}

.resume-preview-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #777777;
    padding: 1em;
}



.resume-preview-options-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8em;
    width: 100%;
    padding: 1em;
    padding-top: 0;
}

.resume-preview-options-container > div{
    cursor: pointer;
    border-radius: 3px;
    background-color: #10a37f;
    padding: 5px 10px;
}

.resume-preview-page{
    background-color: white;
    height: 100%;
    overflow-y: hidden;
    aspect-ratio: 1/1.41421356; /* A4/PDF aspect ratio */
}